.main {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-gap: 1rem;
  }
  
  .bestseller {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .bestseller-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
  }
  
  .oldschool {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .oldschool-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
  }
  
  .card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 1rem;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .card p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  